[flake8]
per-file-ignores =
    # imported but unused
    __init__.py: F401
max-line-length = 120
exclude = .git, __pychace__, .github, env
count = True

ignore =
    W291,
    W293,
    W504,
    E712,
    D
